<div class="playlist-layout-container-top">
    <div class="playlist-layout-container-top-left">
        <div class="playlist-layout-container-resources" data-region="resource_list"></div>
        <div class="playlist-layout-container-settings" style="padding: 5px;">
            <div class="text-title">Opcije</div>
            <div class="full-height mws-form-block mws-form" data-role="options_element" style="padding: 5px;">
                <!-- rendered by view -->
            </div>
        </div>
    </div>
    <div class="playlist-layout-container-preview">
        <div class="playlist-preview-container">
            <div class="text-title">Preview</div>
            <div data-region="preview" class="full-height light"></div>
        </div>
    </div>
</div>
<div class="playlist-layout-container-padding"></div>
<div class="playlist-layout-container-padding greyish"></div>
<div class="playlist-layout-container-items greyish" data-region="items_list" ></div>
<div class="playlist-layout-container-padding greyish"></div>

<div class="playlist-layout-container-options">
    <button class="btn pull-left btn-warning" data-role="toggle_player_playing">Start/Stop</button>
    <button class="btn pull-right btn-danger">Cancel</button>
    <button class="btn pull-right btn-success" data-role="save">Save</button>
</div>
<div class="clear"></div>
