<div class="mws-form-row" style="padding: 0 inherit">
    <label class="text-title">Naziv</label>
    <div class="mws-form-item">
        <input type="text" name="title" data-model="title" value="{{title}}"  style="width: 80%" />
        <div class="mws-error"></div>
    </div>
</div>
<div class="mws-form-row" style="padding: 0 inherit">
    <label class="text-title">Trajanje prikaza svake slike</label>
    <div class="mws-form-item">
        <input type="text" name="title" data-model="item_duration" value="{{item_duration}}" style="width: 80%" />
        <div class="mws-error"></div>
    </div>
</div>
