<div class="playlist-items-arrow playlist-items-arrow-left" data-role="playlist_prev">
    <div class="image-centerer"></div>
    <img src="/js_app/css/icons/media-backward-yellow.png" />
</div>
<div class="playlist-items-head lightish" data-role="playlist_head">
    <div class="playlist-items-track" data-role="playlist_track">
        <!-- items go here -->
    </div>
</div>
<div class="playlist-items-arrow playlist-items-arrow-right" data-role="playlist_next">
    <div class="image-centerer"></div>
    <img src="/js_app/css/icons/media-play-yellow.png" />
</div>
