<div class="content">
    <div class="image">
        <img src="{{resource_url}}" />
    </div>
    <div class="text text-title text-centered">
        {{name}}
        <button type="button" data-role="remove" class="btn btn-danger" style="position: absolute; bottom: 0px; right: 0px;"><span class="ui-icon ui-icon-trash"></span></button>
    </div>
</div>
<div class="droppable-overlay hidden">
    <div class="drop-zone drop-before">
        <div class="image-centerer"></div>
        <img class="image-is_centered" src="js_app/css/icons/1418100751_media-fast-backward.png" />
    </div>
    <div class="drop-zone drop-after">
        <div class="image-centerer"></div>
        <img class="image-is_centered" src="js_app/css/icons/1418100783_media-fast-forward.png" />
    </div>
</div>
