.playlist-layout-container-all,
.playlist-layout-container-top,
.playlist-layout-container-top-left,
.playlist-layout-container-settings,
.playlist-layout-container-resources,
.playlist-layout-container-preview,
.playlist-layout-container-items
{
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;
	display: inline-block;
}

/* main container containing everything */
.playlist-layout-container-all
{
	width: 100%;
	height: 600px;

	/* stop highligh issues */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

/* top container having resource list and preview */
.playlist-layout-container-top
{
	height: 64%;
	width: 100%;
}

.playlist-layout-container-top-left {
	float: left;
	width: 30%;
	height: 100%;
}

.playlist-layout-container-resources {
	height: 60%;
	width: 100%;
}

.playlist-layout-container-settings {
	height: 60%;
	width: 100%;
}

.playlist-layout-container-preview {
	float: left;
	width: 70%;
	height: 100%;
}

.playlist-layout-container-items {
	width: 100%;
	height: 24%;
}

.playlist-layout-container-options {
	width: 100%;
	height: 10%;
}

.playlist-layout-container-padding {
	float: left;
	width: 100%;
	height: 10px;
}

/* resources */
.playlist-resources-container
{
	height: 95%;
	margin: 0 5px;
}

/* preview */
.playlist-preview-container
{
	height: 95%;
	margin: 0 5px;
}

.playlist-preview-container .image-container {
	height: 30px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.playlist-preview-container .image-container img
{
	max-width: 94%;
	max-height: 94%;
	top: 3%;
	position: relative;
}
/* div for items and sliding */
.playlist-items-container {
	width: 100%;
	height: 100%;
}

/* go left, go right */
.playlist-items-arrow {
	float: left;
	width: 5%;
	height: 100%;
	text-align: center;
	z-index: 2000;
}

/* left/right when it's possible to move list while dragging a resource */
.playlist-items-arrow.draggable_resource_active {
	/*background-color: #444444;*/
}

.playlist-items-arrow img, .image-is_centered {
	width: 80%;

	vertical-align: middle;
	display: inline-block;
	max-height: 100%;
	max-width: 80%;
}

/* visible items - slider head */
.playlist-items-head {
	float: left;
	width: 90%;
	height: 100%;
	overflow: hidden;
	background-color: #FFF;
}
/* track head when draggable is active */
.playlist-items-head.show {
	/*background-color: #fbf9ee;*/
	background-color: #ccc;
	margin: -5px;
	border: 5px solid #fcefa1;
}

/* all items - slider track */
.playlist-items-track {
	position: relative;
	left: 0;
	height: 100%;
}

/* each item in slider track */
.playlist-items-track-item
{
	width: 250px;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	height: 100%;
}

.playlist-items-track-item .content
{
	margin: 5px;
	height: 90%;
}

.playlist-items-track-item .content .image
{
	height: 30px;
	width: 100%;
	height: 60%;
	border: thin solid #929D59;
	text-align: center;
}

.playlist-items-track-item .content .image img
{
	max-width: 94%;
	max-height: 94%;
	top: 3%;
	position: relative;
}

.playlist-items-track-item .content .text {
	height: 40%;
	position: relative;
	overflow: hidden;
}

/* overlay shown when dragging a resource: drop targets */
.playlist-items-track-item .droppable-overlay
{
	position: absolute;
	top: 15%;
	width: 100%;
	height: 60%;
	opacity: 0.5;
}
.playlist-items-track-item .droppable-overlay .drop-zone{
	width: 40%;
	height: 100%;
	background-color: #ccc;
	border: 5px solid #fcefa1;

}
.playlist-items-track-item .droppable-overlay .drop-zone.hover {
	background-color: #FFAF0F;
}
.playlist-items-track-item .droppable-overlay .drop-zone.drop-before {float: left; margin-left: 4%;}
.playlist-items-track-item .droppable-overlay .drop-zone.drop-after {float: right; margin-right: 4%;}



/* utility */
.hidden
{
	display: none !important;
	visibility: hidden !important;
}

/* center and adjust back/forward arrows */
.image-centerer {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.full-height
{
	min-height: 1px;
	height: 100%;
}

.greyish {
	background-color: #2D2C31;
}

.lightish {
	background-color: #444444;
}
.light {
	background-color: #CCCCCC;
}

.text-title {
	color: #FBFAFF;
}

.text-centered {
	text-align: center;
}
